.highlight {
    background-color: #ffe4c4;
    border: #8a2be2 solid medium;
}

.invalidBgnd {
    /* Looks invalid but is really being resolved from 'webapp' */
    background-image: url('images/invalid_line.gif');
}

/* More primitive way.  More general */
@eval dirtyBgndUrl biz.freshcode.learn.gwt.client.experiment.resources.ResourcesDemo.dirtyGifCssUrl();
.dirtyBgnd {
    background-image: dirtyBgndUrl;
}

/* Cleaner URL integration */
@url dirtyBgndUrl2 dirtyGif2;
.dirtyBgnd2 {
    background-image: dirtyBgndUrl2;
}

@sprite .dirtyBgnd3 {
    gwt-image: "dirtyGif3";
}
