<?xml version="1.0" encoding="UTF-8"?>
<Context path="/">
    <Resource name="jdbc/appDb"
              auth="Container"
              type="javax.sql.DataSource"
              class="org.h2.jdbcx.JdbcDataSource"
              url="jdbc:h2:mem:appDb"/>

    <Resource name="bean/appPasswordMutation" auth="Container"
              type="pkg.PasswordMutationServiceImpl"
              factory="org.apache.naming.factory.BeanFactory"
              singleton="true"/>

    <Resource name="bean/someBean"
              singleton="true"
              auth="Container"
              type="pkg.SomeBean"
              i="10"
              str="abcdefg"
              factory="org.apache.naming.factory.BeanFactory"/>
<!--
    <ResourceParams name="bean/someBean">
        <parameter>
            <name>str</name>
            <value>abcdefg</value>
        </parameter>
    </ResourceParams>
-->

    <!--
    <Realm className="org.apache.catalina.realm.DataSourceRealm" userCredCol="userpassword"
    <Realm className="pkg.SaltingRealm" userCredCol="usercred" userSaltCol="usersalt"
    -->
    <Realm className="pkg.PasswordMutationRealm" userCredCol="usercred"
           digestServiceName="bean/appPasswordMutation" localDigestService="true"

           localDataSource="true"
           dataSourceName="jdbc/appDb"
           userTable="usercred"
           userNameCol="username"
           userRoleTable="userrole"
           roleNameCol="userrole"/>
</Context>