<?xml version="1.0" encoding="UTF-8"?>
<Context path="/">
    <Resource name="jdbc/appDb"
              auth="Container"
              type="javax.sql.DataSource"
              class="org.h2.jdbcx.JdbcDataSource"
              url="jdbc:h2:mem:appDb"/>

    <Resource name="env/appSalter"
              type="pkg.SaltingService"
              class="pkg.SaltingServiceImpl"/>

    <!--
    <Realm className="org.apache.catalina.realm.DataSourceRealm" userCredCol="userpassword"
    <Realm className="pkg.SaltingRealm" userCredCol="usercred" userSaltCol="usersalt"
    -->
    <Realm className="pkg.PasswordMutationRealm" userCredCol="usercred"
           localDataSource="true"
           dataSourceName="jdbc/appDb"
           userTable="usercred"
           userNameCol="username"
           userRoleTable="userrole"
           roleNameCol="userrole"/>
</Context>