<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <listener>
        <listener-class>pkg.AppListener</listener-class>
    </listener>

    <!-- Security -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <!-- NOTE: Mangle this to turn off security requirements -->
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <!--<auth-constraint>-->
        <!--<role-name>superuser</role-name>-->
        <!--</auth-constraint>-->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>authentic</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>excepted</web-resource-name>
            <url-pattern>/secured/excepted.jsp</url-pattern>
            <!-- Wildcard file types don't work here -->
            <url-pattern>/secured/deep/excepted.css</url-pattern>
            <!-- Doesn't work here? <url-pattern>*.css</url-pattern>-->
        </web-resource-collection>
    </security-constraint>

<!-- Doesn't help.. neither does putting it before 'secured' collection
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>excepted-too</web-resource-name>
            <url-pattern>*.css</url-pattern>
        </web-resource-collection>
    </security-constraint>
-->

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/login-form.jsp</form-login-page>
            <form-error-page>/WEB-INF/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>authentic</role-name>
    </security-role>
</web-app>
