
.busySpinner {
  gwt-sprite: "spinnerGif";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; /* Something really high */
}
