.hoverWidgets {
    border: 0;
    padding: 1px;
}

.debug {
    border: 1px red !important;
}

.centerBgnd {
    background-position: center;
}

@url dirtyGif dirtyGif;
@url greenSashGif greenSashGif;

.redGreenBgnd {
    background-image: dirtyGif, greenSashGif;
    background-repeat: no-repeat; /* Needed by cells and, for IE tool buttons */
    /*Breaks the effect when applied to a <p>... background-attachment: fixed;*/
}

.redOnlyBnd {
    background-image: dirtyGif;
    background-repeat: no-repeat; /* Needed by cells and, for IE tool buttons */
    /*Breaks the effect when applied to a <p>... background-attachment: fixed;*/
}

.greenOnlyBgnd {
    background-image: greenSashGif;
    background-repeat: no-repeat; /* Needed by cells and, for IE tool buttons */
    /*Breaks the effect when applied to a <p>... background-attachment: fixed;*/
}
