.hoverWidgets {
    border: 0;
    padding: 1px;
}

.debug {
    border: 1px red !important;
}

@url dirtyGif dirtyGif;
.dirtyBgnd {
    background-image: dirtyGif;
}

.centerBgnd {
    background-position: center;
}

.dirtyCell {
    background-image: dirtyGif;
    background-repeat: no-repeat;
    /*Breaks the effect when applied to a <p>... background-attachment: fixed;*/
}
